html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif; 
	font-size: 1rem;
	line-height: 1.6rem;
	
}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}
.weui-dialog__bd{
	text-align: left!important;
}
#alert .weui_dialog_bd{
	text-align: center;
}
.head{
	/*background: #04BE02;*/
	color: #0d0d0d;

	width: 90%;
	/*height: 1.4rem;*/
	border: 1px solid #f1f1f1 ;
	padding-top: 2%;
	font-size: 25px;
	padding: 1% 5% 2% 5%;
	text-align: center;
}
.head .right{
	float:right;
	height:100%;
}
.head .right img{
	height:100%;
	width:100%;
}
.weui-search-bar{
	padding: 5px;
}
#searchInput{
	font-size: 0.8rem;
}
#text {
	float:left;
	display: inline;
	padding: 5px  0px 0px 0px;
	margin: 0px 5px 0px 0px;
	-webkit-appearance: none;
	font-size: 0.8rem;
}
.weui-btn{
	display: inline-block!important;
}
#button1,#button2{
	border-radius: 0.25rem;
	/*width:16%;*/
	outline: none;
	/*padding: 5px 10px;*/
	/*background: #04BE02;*/
	/*margin: 0px 0px 12px 0px;*/
	-webkit-appearance: none;
}
.weui-btn_primary{
	background-color: #04BE02;
}
.weui-btn_mini{
	padding:0.25rem 0.35rem;
	font-size: 0.8rem;
	line-height: 1.6rem;
	margin:8px 0;
}
#button2{
	/*margin:0 0.15rem;*/
	border-radius: 0.25rem;
	outline: none;
	-webkit-appearance: none;
}
a:hover { color: #E86A6A; text-decoration: none}
.body{
	width: 100%;
	margin-bottom: 45px;
}
div.item{
	/*width: 7.5rem;*/
    /*float: left;*/
	width: 100%;
	/*//height: 5.625rem;*/
	padding: 2% ;
	border-bottom: 0.2rem solid #FAF1F1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.item .tupian{
	width:7.5rem;
	float: left;
	display: block;
	/*//height: 5.625rem;*/
	/*margin: 0 2% 0 0;*/
}
div.item .tupian img{
	width:7.5rem;
	/*//height: 5.625rem;*/
	float: left;
	/*display: block;*/
}
div.content{
	width:58%;
	float:right;
	/*font-size: 0.6rem;*/
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
	/*//height: 5.625rem;*/
}
div.item div.content div{
	margin-top: 1%;
	margin-bottom:1%;
	padding: 0;
	display: block;
}
div.item .content .no{
	font-size: 0.8rem;
	white-space: nowrap;
}
div.item .content .name{
	font-size: 0.8rem;
	white-space: nowrap;
}
div.item .content .intro{
	/*width: 300px;*/
	white-space: nowrap;
    overflow-x:hidden;   
    text-overflow:ellipsis;
	font-size: 0.8rem;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	
}
.no1{
	/* line-height: 1.1rem; */
	font-size: 0.8rem;
	/* margin-left: 1%; */
	color: #999999;
}
.name1{
	/* line-height: 1.1rem; */
	font-size: 0.8rem;
/* 	margin-left: 1%; */
	color: #999999;
}

.intro1{
	position:relative;left:0px;top:0px;
	display: block;
	
	overflow: hidden;
	/*white-space: nowrap;*/
	
	/* line-height: 1.1rem; */
	font-size: 0.8rem;
/* 	margin-left: 1%; */
	color: #999999;

}
.intro1 b{
	font-weight: bold;
	color: #000000;
}
#fixedlogo{
	border: 1px solid #04BE02;
    background: #04be02;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 1% 2%;
    position: fixed;
    top: 62%;
    left: 0px;
    width: 2rem;
	padding-left: 1rem;

}
#submit{
	cursor: pointer;
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){
/* .time,.address{
	font-size: 0.5rem;
}
.price{
	font-size: 0.55rem
} */

}

/*麦宝添加*/
* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}
.weui_dialog_bd{
	text-align: center;
}
.title {
	height: 45%;
	line-height: 45px;
	text-align: center;
	background: #04BE02;
	color: #fff;
	font-size: 1.2rem;
	overflow: hidden;
}
.item_content{
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*.content {*/
	/*margin: 0 3% 20% 3%;*/
/*}*/

.c-title {
	text-align: center;
	font-size: 23px;
	line-height: 40px;
	color: #333;
}

.c-join {
	margin-bottom: 1%;
	margin-top: 1%;
	font-size: 0.8rem;
	color: #333;
	margin-left: 3%;
}
.c-description{
	text-indent: 2rem;
	font-size: 0.8rem;
	color:crimson;
	font-weight: bold;
	/*color:white;*/
	/*color: #0d0d0d;*/
	margin-left: 3%;
	/*border: 1px #04BE02 solid;*/
	text-align: left;
	border: 2px dotted;
	padding: 1.5% 3%;
}
.over{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 86%;
}
input[type=checkbox] {
	visibility: hidden;
}

.equal {
	display: table;
	border-collapse: separate;
	margin: 0px auto;
}




/*display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
/*    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
/*    -webkit-line-clamp: 1; !** 显示的行数 **!*/


.check {
	margin-top: 0%;
	float: right;
	margin-right: 20%;
	position: relative;
	margin-bottom: 2%;
}

.check label {
	cursor: pointer;
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	top:1%;
	bottom: 1%;
	right:1%;
	border: 1px solid #04BE02;
}

.check label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: .7rem;
	height: .5rem;
	background: transparent;
	top: 25%;
	left: 15%;
	border: 3px solid #04BE02;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.check input[type=checkbox]:checked{
	opacity: 1;
}
.check input[type=checkbox]:checked+label:after {
	opacity: 1;
}

.c-select {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
}

.c-inline {
	width: 20%;
	height: 10px;
	background: #cfcfcf;
	float: left;
	font-style: normal;
	margin-top: 20px;
}

.pick {}

.c-button {
	margin: 0 auto;
	margin-bottom: 0%;
	position: fixed;
	bottom: 3%;
	right: 5%;
	border-radius: 7px;
	height: 45px;
	width: 90%;
	color: #fff;
	background: #04BE02;
	text-align: center;
	display: block;
	margin-top: 15px;
	line-height: 45px;
	/*垂直居中*/
	font-size: 18px;
}

.c-button1 {
	margin: 0 auto;
	margin-bottom: 0%;
	position: fixed;
	bottom: 3%;
	right: 5%;
	border-radius: 7px;
	height: 45px;
	width: 90%;
	color: #fff;
	background: #04BE02;
	text-align: center;
	display: block;
	margin-top: 15px;
	line-height: 45px;
	/*垂直居中*/
	font-size: 18px;
}
.c-button2{
	margin: 0 auto;
	margin-bottom: 0%;
	/*position: fixed;*/
	/*bottom: 3%;*/
	/*right: 5%;*/
	border-radius: 7px;
	height: 45px;
	width: 90%;
	color: #fff;
	background: #04BE02;
	text-align: center;
	display: block;
	margin-top: 15px;
	line-height: 45px;
	/*垂直居中*/
	font-size: 18px;
}
/*.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:57%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}*/
.skillbar-bar {
	height: 13px;
}

.skillbar {
	position: relative;
	float: left;
	width: 45%;
	background: #eee;
	height: 13px;
	margin-top: 8%;
}


/*麦宝添加结束*/